table {
    border-collapse:collapse;
}

td {
  width: 25px;
  height: 25px;
}

#mine-field{
  
}
.closed {
  border: outset 4px #5980E2;
  background-color: #29458E;

}

.flag {

}

.empty0 {
  border: solid 2px #5980E2;
  background-color: #BCBCFF;
}

.empty1 {
  border: solid 2px #5980E2;
  background-color: #BCBCFF;
}

.empty2 {
  border: solid 2px #5980E2;
  background-color: #BCBCFF;
}

.empty3 {
  border: solid 2px #5980E2;
  background-color: #BCBCFF;
}

.empty4 {
  border: solid 2px #5980E2;
  background-color: #BCBCFF;
}

.empty5 {
  border: solid 2px #5980E2;
  background-color: #BCBCFF;
}

.empty6 {
  border: solid 2px #5980E2;
  background-color: #BCBCFF;
}
.empty7 {
  border: solid 2px #5980E2;
  background-color: #BCBCFF;
}
.empty8 {
  border: solid 2px #5980E2;
  background-color: #BCBCFF;
}

.mine {

}
