table {
    border-collapse:collapse;
    margin: 0 auto;
    cursor:default;
}

td {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  text-align: center;
}

#mine-field{
  
}
p {
  text-align: center;
  font-size: 25px
}
#complete{
  /*margin: 0 auto;*/
}

.title {
  text-align: center;
}

.closed {
  border: groove 2px #5980E2;
  background-color: #29458E;

}

.closed:hover {
  border: groove 2px #5980E2;
  background-color: #686CB6;
}

.flag {
  border: groove 2px #5980E2;
  background-color: #29458E;
  color: red;
}

.empty0 {
  border: ridge 2px #5980E2;
  background-color: #BCBCFF;
}

.empty1 {
  border: ridge 2px #5980E2;
  background-color: #BCBCFF;
  color: blue;
}

.empty2 {
  border: ridge 2px #5980E2;
  background-color: #BCBCFF;
  color: green;
}

.empty3 {
  border: ridge 2px #5980E2;
  background-color: #BCBCFF;
  color: red;
}

.empty4 {
  border: ridge 2px #5980E2;
  background-color: #BCBCFF;
  color: purple;
}

.empty5 {
  border: ridge 2px #5980E2;
  background-color: #BCBCFF;
  color: #302013;
}

.empty6 {
  border: ridge 2px #5980E2;
  background-color: #BCBCFF;
  color: #00FFFF;
}
.empty7 {
  border: ridge 2px #5980E2;
  background-color: #BCBCFF;
  color: black;
}
.empty8 {
  border: ridge 2px #5980E2;
  background-color: #BCBCFF;
  color: #696969;

}

.mine {
  border: ridge 2px #5980E2;
  background-color: #C71818;
}

.rev-mine{
  border: ridge 2px #5980E2;
  background-color: #BCBCFF;
}
