{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{STATIC_URL}}css/game.css">
<script type="text/javascript" src="{{STATIC_URL}}js/game.js"></script>
{% endblock %}

{% block content %}
<div class='game'>
  <h1 class='title'>
    {{name}}'s game number {{game_number}} 
    <table class = 'mine-field'>
      <tbody>
        {% for row in mine_field %}
        <tr>
          {% for field in row %}
          <td class='closed'>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </h1>
</div>
{% endblock %}